

apiVersion: v1
kind: ConfigMap
metadata:
  name: apigateway-configmap
  namespace:  monitoring
data:
  server.port: "9090"
  SPRING_PROFILES_ACTIVE: docker

---


apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace:  monitoring
spec:
  selector:
    matchLabels:
      app: api-gateway
  replicas: 1
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: philipasd/api_gateway:0.0.0
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8090
          protocol: TCP
        env:
        - name:  SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name:  apigateway-configmap
              key:  SPRING_PROFILES_ACTIVE

